/*
Fluid Grid System ~ Core CSS.
*/

/* CLEARFIX */
.clearfix:after, .row:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix, .row { display:inline-block; }
.clearfix, .row { display:block; }

/* Box Sizing */
* { 
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;  
			box-sizing: border-box;
}

/* Grid */
.container { width:100%; margin:0 auto; }
.row { position:relative; }

.x2, .x3, .x4, .x5 {
	display:block;
	float:left;
}

.x2 {
	width:50%;
}

.x3 {
	width:33.33%;
}

.x4 {
	width:25%;
}

.x5 {
	width:20%;
}

/* Custom */
.container {
	background:#FFF 0 0 repeat;
}